body {
    background-color: rgb(12, 86, 12);
}
h1 {
    color: burlywood;
    font-family: 'Playfair Display', serif;

}
button {
    background-color: bisque;
    color: black;
    border: black;
    font-family: 'Playfair Display', serif;
}
p  {
    color: burlywood;
}
form {
    color:burlywood;
}